<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/lobby.css">
    <link rel="icon" type="image/png" href="/Icons/logo.png">
    <title>Veedeo App</title>
</head>
<body>
    <main id="lobby-container">
        <div id="form-container">
            <div id="form-header">
                <h1> Welcome to the Magic Room</h1>
            </div>
            <div id="form-content-wrapper">
                <form id="joinRoom" method="POST" action="/invite">
                    <input type="text" name="invite_join_link" placeholder="Enter Room Code" required>
                    <button type="submit">Join or Create Room</button>
                </form>
            </div>
            <% if (typeof message !== 'undefined') { %>
                <script>
                    window.onload = function() {
                        window.alert("<%= message %>");
                    };
                </script>
            <% } %>
        </div>
    </main>
    <script>
        const form = document.getElementById("joinRoom");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const inviteLink = e.target.invite_join_link.value;
            window.location = `/index?room=${inviteLink}`;
        });
    </script>
    <script src="/js/client.js"></script>
</body>
</html>
